<div class="container">   
    <div class="wrapper"> 
        <ul  class="nav nav-pills">
            <li routerLinkActive="active">
                <a  routerLink="list">Product List</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="add">Add Product</a>
            </li>
        </ul>
        <router-outlet></router-outlet>
    </div>
</div>