<!-- IF USER IS NOT AUTHENTICATED, SHOW LOGIN -->
<ul class="auth-menu">
    <nav *ngIf="!isAuthenticated() else authBlock">
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Sign Up</a></li>
    </nav>
    <!-- IF USER IS AUTHENTICATED, SHOW MENU -->
    <ng-template #authBlock>
        <nav>
            <li><a name="logout" (click)="logout()">Logout</a></li>
            <li><a routerLink="/cart">Cart Items <span class="badge">{{ totalCartItems }}</span></a></li>
            <li><a routerLink="/orders">My Orders</a></li>
            <li><a routerLink="/profile">Hi <strong>{{ authenticatedUser | uppercase }}</strong></a></li>
        </nav>
    </ng-template>
    <!-- LOGO -->
    <span class="logo-header">Shopello</span>
</ul>
<app-menu></app-menu>