<div class="container">
    <div class="wrapper">
        <table class="table table-hover table-condensed" *ngIf="cartItems.length > 0; else noCartBlock">
            <thead>
                <tr>
                <th style="width:50%">Product</th>
                <th style="width:10%">Price</th>
                <th style="width:8%">Quantity</th>
                <th style="width:22%" class="text-center">Subtotal</th>
                <th style="width:10%">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cartItems">
                <td>
                    <div class="row">
                    <!-- <div class="col-sm-2"><img [src]="item.product.image" alt="..." class="img-responsive"/></div> -->
                    <div class="col-sm-10">
                        <h4>{{ item.product.name }}</h4>
                        <p>{{ item.product.description }}</p>
                    </div>
                    </div>
                </td>
                <td>&#x20B9; {{ item.product.price }}</td>
                <td>
                    <input type="number" 
                        class="form-control text-center" 
                        (input)="updateQuantity(item.product, quantityField.value)" 
                        min="0"
                        max="5"
                        name="productQuantity"
                        [value]="item.quantity" 
                        #quantityField>
                </td>
                <td class="text-center"> &#x20B9; {{ item.product.price * item.quantity }}</td>
                <td>
            
                    <button class="btn btn-danger btn-sm glyphicon glyphicon-trash" (click)="removeItemFromCart(item.product)"></button>								
                </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                <td></td>
                <td></td>
                <td><h4><strong>Total Amount</strong></h4></td>
                <td class="text-center"><h4><span class="label label-success total-amount">&#x20B9; {{ totalCartAmount }}</span></h4></td>
                </tr>
            </tfoot>
        </table>
        <ng-template #noCartBlock>
            <p class="empty-cart-message">No items in cart!</p>
        </ng-template>
        <div class="cart-action-container"> 
            <a routerLink="/product" class="btn btn-warning">Continue Shopping</a>
            <a class="btn btn-success btn-checkout" [hidden]="true" (click)="confirmOrder()">Checkout</a>
        </div>
    </div>
</div>