<section class="cover">
  <form class="form-container form-horizontal" 
        (ngSubmit)="registerForm.valid && registerUser()"
        #registerForm="ngForm">
      <h1 class="form-heading">REGISTER</h1>
      
      <div class="alert alert-success" *ngIf="successMessage || successMessage.length > 0">
        <p> {{ successMessage }} </p>
      </div>
  
      <div class="alert alert-danger" *ngIf="errorMessage.length > 0">
        <p> {{ errorMessage }} </p>
      </div>

      <div class="form-group" 
           [ngClass]="{
            'has-error': userName.invalid && (userName.dirty || userName.touched),
            'has-success': userName.valid && (userName.dirty || userName.touched)}">
        <input 
              class="form-control col-xs-4"
              type="text" 
              name="name"
              [(ngModel)]="user.name"
              placeholder="Username" 
              #userName="ngModel"
              minlength="5"
              maxlength="30"
              required>
        <div *ngIf="userName.invalid && (userName.dirty || userName.touched)"
              class="alert alert-danger">
          <div *ngIf="userName.errors.required">
              Username is Required.
          </div>
          <div *ngIf="userName.errors.minlength">
              Username must have atleast 5 characters.
          </div>
          <div *ngIf="userName.errors.maxlength">
            Username cannot have more than 30 characters.
        </div>
        </div>
      </div>
      <div class="form-group"
          [ngClass]="{
            'has-error': password.invalid && (password.dirty || password.touched),
            'has-success': password.valid && (password.dirty || password.touched)}">
          <input 
            class="form-control col-xs-4" 
            type="password" name="password" 
            [(ngModel)]="user.password"
            minlength="6"
            maxlength="15"
            placeholder="Password" 
            #password="ngModel"

            required>
          <div *ngIf="password.invalid && (password.dirty || password.touched)"
            class="alert alert-danger">
            <div *ngIf="password.errors.required">
                  Password should not be empty.
            </div>
            <div *ngIf="password.errors.minlength">
                  Password should have atleast 6 characters.
            </div>
            <div *ngIf="password.errors.minlength">
              Password cannot have more than 15 characters.
        </div>
          </div>
      </div>
      <div class="form-group"
          [ngClass]="{
            'has-error': confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched),
            'has-success': confirmPassword.valid && (confirmPassword.dirty || confirmPassword.touched)}">
        <input 
            class="form-control col-xs-4"
            type="password"
            [(ngModel)]="confirmPasswordInput"  
            name="confirmPassword" 
            placeholder="Confirm Password"
            validatePassword="password"
            #confirmPassword="ngModel" required>
        <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
            class="alert alert-danger">
          <div *ngIf="confirmPassword.errors.required">
                Retype the password.
          </div>
          <div *ngIf="!confirmPassword.errors.validatePassword">
                Password mismatch. Please retype password.
          </div>
        </div>
      </div>
      <div class="form-group"
        [ngClass]="{
          'has-error': email.invalid && (email.dirty || email.touched),
          'has-success': email.valid && (email.dirty || email.touched)}">
        <input 
            class="form-control col-xs-4" 
            type="email" 
            name="email" 
            [(ngModel)]="user.email" 
            placeholder="Email" 
            #email="ngModel" required
            emailValidate>
          <div *ngIf="email.invalid && (email.dirty || email.touched)"
                class="alert alert-danger">
            <div *ngIf="email.errors.required">
                  Email cannot be empty.
            </div>
            <div *ngIf="email.errors.emailValidate">
                  Email should be in valid format. Eg:- example@domain.com
            </div>
          </div>
      </div>
      <p class="form-text"><a routerLink="/login">Already Registered? Login.</a></p>
      <input class="btn btn-success" type="submit" value="Submit" [disabled]="!registerForm.valid">
  </form>
</section>