<div class="container">
    <div class="wrapper">
        <div class="row" *ngFor="let detail of product">
            <div class="col-md-6">
                <img [src]="detail.image" alt="Product Image">
            </div>
            <div class="col-md-6">
                <h2>{{ detail.name }}</h2>
                <p class="description">{{ detail.description }}</p>
                <h3>Price: {{ detail.price }}</h3>
                <button type="button" class="btn btn-primary btn-lg add-cart" (click)="addToCart(detail)" [disabled]="isItemInCart(detail)">Add to Cart</button>
                <button type="button" class="btn btn-success btn-lg buy-product" (click)="buyProduct(detail)" [disabled]="isItemInCart(detail)">Buy</button>
            </div>
        </div>
    </div>
</div>