<form novalidate name="profileForm" class="form-horizontal col-md-12" (ngSubmit)="updateDetails()" [formGroup]="profileForm">
    <fieldset>

        <!-- Form Name -->
        <legend class="form-title">Profile Details</legend>

        <!-- SUCCESS MESSAGE -->
        <div class="alert alert-success" *ngIf="successMessage.length > 0">
            <p> {{ successMessage }} </p>
        </div>
    
        <!-- ERROR MESSAGES -->
        <div class="alert alert-danger" *ngIf="errorMessage.length > 0">
            <p> {{ errorMessage }} </p>
        </div>
        <!-- Fullname Text input-->
        <div class="form-group" 
           [ngClass]='{
            "has-error": profileForm.get("name").invalid && (profileForm.get("name").dirty || profileForm.get("name").touched),
            "has-success": profileForm.get("name").valid && (profileForm.get("name").dirty || profileForm.get("name").touched)}'>
            <label class="col-sm-2 control-label" for="name">Full Name</label>
            <div class="col-sm-10">
                <input type="text" name="name" placeholder="Full Name" class="form-control" formControlName="name">
            </div>
            <div *ngIf='profileForm.get("name").invalid && (profileForm.get("name").dirty || profileForm.get("name").touched)'
                    class="alert-danger col-sm-10 col-sm-offset-2">
                <div *ngIf='profileForm.get("name").errors.required'>
                    Fullname is Required.
                </div>
                <div *ngIf='profileForm.get("name").errors.minlength'>
                    Fullname must have atleast 5 characters.
                </div>
                <div *ngIf='profileForm.get("name").errors.maxlength'>
                    Fullname cannot have more than 30 characters.
                </div>
            </div>
        </div>

        <!-- Email Text input-->
        <div class="form-group" 
            [ngClass]='{
            "has-error": profileForm.get("email").invalid && (profileForm.get("email").dirty || profileForm.get("email").touched),
            "has-success": profileForm.get("email").valid && (profileForm.get("email").dirty || profileForm.get("email").touched)}'>
            <label class="col-sm-2 control-label" for="email">Email</label>
            <div class="col-sm-10">
                <input type="text" name="email" placeholder="Your email" class="form-control" formControlName="email">
            </div>
            <div *ngIf='profileForm.get("email").invalid && (profileForm.get("email").dirty || profileForm.get("email").touched)'
                    class="alert-danger col-sm-10 col-sm-offset-2">
                <div *ngIf='profileForm.get("email").errors.required'>
                    Email is Required.
                </div>
                <div *ngIf='profileForm.get("email").errors.validEmail'>
                    Email should be in the format: example@domain.com
                </div>
            </div>
        </div>

        <!-- City Text input-->
        <div class="form-group" 
            [ngClass]='{
            "has-error": profileForm.get("city").invalid && (profileForm.get("city").dirty || profileForm.get("city").touched),
            "has-success": profileForm.get("city").valid && (profileForm.get("city").dirty || profileForm.get("city").touched)}'>
            <label class="col-sm-2 control-label" for="city">City</label>
            <div class="col-sm-10">
                <input type="text" name="city" placeholder="City" class="form-control" formControlName="city">
            </div>
            <div *ngIf='profileForm.get("city").invalid && (profileForm.get("city").dirty || profileForm.get("city").touched)'
                    class="alert-danger col-sm-10 col-sm-offset-2">
                <div *ngIf='profileForm.get("city").errors.required'>
                    City is Required.
                </div>
                <div *ngIf='profileForm.get("city").errors.minlength'>
                    City should have atleast 3 characters.
                </div>
            </div>
        </div>

        <!-- State Text input-->
        <div class="form-group" 
            [ngClass]='{
            "has-error": profileForm.get("state").invalid && (profileForm.get("state").dirty || profileForm.get("state").touched),
            "has-success": profileForm.get("state").valid && (profileForm.get("state").dirty || profileForm.get("state").touched)}'>
            <label class="col-sm-2 control-label" for="state">State</label>
            <div class="col-sm-5">
                <input type="text" name="state" placeholder="State" class="form-control" formControlName="state">
            </div>
            <div *ngIf='profileForm.get("state").invalid && (profileForm.get("state").dirty || profileForm.get("state").touched)'
                    class="alert-danger col-sm-10 col-sm-offset-2">
                <div *ngIf='profileForm.get("state").errors.required'>
                    State is Required.
                </div>
                <div *ngIf='profileForm.get("state").errors.minlength'>
                    State should have atleast 3 characters.
                </div>
            </div>
        </div>

        <!-- Postcode Text Input -->
        <div class="form-group" 
            [ngClass]='{
            "has-error": profileForm.get("postcode").invalid && (profileForm.get("postcode").dirty || profileForm.get("postcode").touched),
            "has-success": profileForm.get("postcode").valid && (profileForm.get("postcode").dirty || profileForm.get("postcode").touched)}'>
            <label class="col-sm-2 control-label" for="postcode">Postcode</label>
            <div class="col-sm-3">
                <input type="text" name="postcode" placeholder="Post Code" class="form-control" formControlName="postcode">
            </div>
            <div *ngIf='profileForm.get("postcode").invalid && (profileForm.get("postcode").dirty || profileForm.get("postcode").touched)'
                    class="alert-danger col-sm-10 col-sm-offset-2">
                <div *ngIf='profileForm.get("postcode").errors.required'>
                    Postcode is Required.
                </div>
                <div *ngIf='profileForm.get("postcode").errors.minlength || profileForm.get("postcode").errors.maxlength'>
                    Postcode should have 6 characters.
                </div>
            </div>
        </div>

        <!-- Country Text input-->
        <div class="form-group">
        <label class="col-sm-2 control-label" for="country">Country</label>
        <div class="col-sm-10">
            <input type="text" name="country" placeholder="Country" class="form-control" formControlName="country">
        </div>
        </div>

        <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="pull-right">
            <button type="reset" class="btn btn-default">Reset</button>
            <button type="submit" class="btn btn-primary" [disabled]="profileForm.invalid">Update</button>
            </div>
        </div>
        </div>
    </fieldset>
</form>