footer {
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: rgba(56, 173, 115,0.8);
    position: relative;
    bottom: 0;
    color: #fff;
    margin-top: 20px;
    text-shadow: 2px 2px 8px #000;
}