
<form class="form-horizontal" (ngSubmit)="updateProductDetails()" name="updateProduct" #updateProductForm>
    <fieldset>
        <div [ngClass]="{
                'alert alert-success' : message.type == 'success',
                'alert alert-danger' : message.type == 'error'
            }" *ngIf="message.text">
            <p> {{ message.text }} </p>
        </div>
        <h3>Product Information</h3>
        <div class="col-lg-12 form-group">
            <label class="col-lg-2"  for="Name">Name</label>
            <div class="col-lg-4">
                <input type="text" name="Name" placeholder="" [(ngModel)]="product.name" class="form-control"> {{ product.name }}
            </div>
        </div>
        
        <div class="col-lg-12 form-group">
            <label for="about" class="col-lg-2">Description</label>
            <div class="col-lg-4">
                <textarea class="form-control" name="description" [(ngModel)]="product.description"></textarea>
            </div>
        </div>

        <div class=" col-lg-12 form-group">
            <label class="col-lg-2" for="category">Category</label>
            <div class="col-lg-4">
                <select name="category" class="form-control" [(ngModel)]="product.category" #category>
                    <option *ngFor="let item of menu" [value]="item.name" [selected]="product.category == item.name"> {{ item.name }} </option>
                </select>
            </div>
        </div>

        <div class="col-lg-12 form-group">
            <label class="col-lg-2" for="Price">Price</label>
            <div class="col-lg-4">
                <input type="number" name="Price" placeholder="" [(ngModel)]="product.price" class="form-control">
            </div>
        </div>

        <div class="col-lg-12 form-group">
            <label class="col-lg-2" for="Supplier">Supplier</label>
            <div class="col-lg-4">
                <input type="text" name="Supplier" placeholder="" [(ngModel)]="product.supplier" class="form-control sku">
            </div>
        </div>

        <div class="col-lg-12 form-group">
            <label class="col-lg-2" for="Subcategory">Quantity</label>
            <div class="col-lg-4">
                <input type="text" name="Quantity" placeholder="" [(ngModel)]="product.quantity" class="form-control sku">
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Update Product" [disabled]="!updateProductForm.valid">
    </fieldset>
</form>
    
    