
<div class="container">
    <div class="wrapper">
        <table *ngIf="orders; else noOrdersBlock" class="table table-hover orders-table">
            <thead>
            <tr>
                <th>Order ID</th>
                <th>Product Name</th>
                <th>Date Purchased</th>
                <th>Total Order Amount</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let order of orders">
                <td>{{ order.orderID }}</td>
                <td>
                <ul>
                    <li *ngFor="let items of order.orderItems">
                    <a [routerLink]="['/product/details', items.product.id]">{{ items.product.name }} </a>
                    </li>
                </ul></td>
                <td>{{ order.purchaseDate }}</td>
                <td>{{ order.totalAmount }}</td>
                <td><span class="label label-info">Finished</span></td>
            </tr>
            </tbody>
        </table>

        <ng-template #noOrdersBlock>
            <div class="no-orders">No history of orders found!</div>
        </ng-template>
    </div>
</div>