<div class="container">
  <!-- SEARCH CONTAINER -->
    <div class="search-container">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control search-product" [(ngModel)]="searchString" (keyup.enter)="searchProduct(initialPage)" placeholder="Search for a product">
            <span class="input-group-btn">
                <a 
                    class="btn btn-default glyphicon glyphicon-search" 
                    type="button"
                    routerLink="/product"
                    [queryParams]="{ search: searchString, page: initialPage }"
                    >
                </a>
            </span>
        </div>
    </div>

  <!-- PRODUCT SIDEBAR -->
    <div class="wrapper">
        <ng-template #elseBlock>Loading Products...</ng-template>
        <div *ngIf="!loading; else elseBlock" class="row">      
        <!-- SIDEBAR -->
        <div class="col-md-2">
            <div class="sidebar">
            <div>
                <h3><span class="label label-default">Filter Products</span></h3>
                <h5><span class="label label-primary">Category</span></h5>
                <!-- CATEGORY FILTER -->
                <ul class="filter-items">
                    <li *ngFor="let items of menu">
                    <input 
                            type="checkbox" 
                            name="category" 
                            [checked]="items.checked"
                            [id]="items.id"
                            (change)="selectCategory({ category: items.name, page: INITIAL_PAGE }, $event)"
                            [value]="items.name">{{ items.name }}
                    
                    <ul *ngIf="items.sub" [ngClass]="{ 'show-filter' : items.checked, 'hide-filter' : !items.checked }">
                        <li *ngFor="let item of items.sub">
                            <input 
                            type="checkbox" 
                            name="category" 
                            [checked]="item.checked"
                            [id]="item.id"
                            (change)="selectCategory({ category: items.name, subcategory: item.name, page: INITIAL_PAGE}, $event)"
                            [value]="item.name"> {{ item.name }}</li>
                    </ul>
                    </li>
                </ul>
            </div>
            <div>
                <!-- PRICE FILTER -->
                <h5><span class="label label-primary">Price Range</span></h5>
                <ul class="filter-items">
                    <li *ngFor="let items of priceFilterItems">
                    <input
                            type="radio"
                            name="priceFilter"
                            [value]="items.id"
                            [attr.data-minvalue]="items.value.min"
                            [attr.data-maxvalue]="items.value.max"
                            [checked]="items.checked"
                            (click)="filterByPrice($event)" > {{ items.name }}
                    </li>
                </ul>
            </div>
            </div>
        </div>
        <!-- PRODUCT LIST -->
        <div class="col-md-10 product-list">
            <p>Fetched <span class="badge">{{ totalRecords }}</span> records.</p>
            <!-- <p>
            <span class="label label-default">Price: 0 to 9999</span>
            </p> -->
            <div 
                *ngFor="let product of products" 
                class="col-md-3"
            >
                <div class="thumbnail">
                <img [src]="product.image" alt="Loading Product Image">
                <div class="caption">
                    <h4><a [routerLink]="['details', product.id]">{{ product.name }}</a></h4>
                    <h4>&#8377;{{product.price}}</h4>
                    <p>
                    <button class="btn btn-primary" 
                            role="button"
                            (click)="buyProduct(product)">Buy</button> 
                    <button class="btn btn-default" 
                            (click)="addToCart(product)" 
                            [disabled]="isItemInCart(product)"
                            role="button">Add to Cart</button>
                    </p>
                </div>
                </div>
            </div>
        </div>
        </div>
        
        <nav *ngIf="(totalPages > 1) && !loading" aria-label="Page navigation">
            <ul class="pagination">
            <li [class.disabled]="currentPage === initialPage">
                <a 
                routerLink="/product"
                [queryParams]="{ page: currentPage - 1 }"
                queryParamsHandling="merge">
                <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li *ngFor="let page of getPages(totalPages)">
                <a 
                [class.active]="page === currentPage"
                routerLink="/product"
                [queryParams]="{ page: page }"
                queryParamsHandling="merge"
                >
                {{ page }}
            </a>
            </li>
            <li [class.disabled]="currentPage === totalPages">
                <a 
                routerLink="/product"
                [queryParams]="{ page: +currentPage + 1 }"
                queryParamsHandling="merge" 
                aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            </ul>
        </nav>
    </div>
</div>