.filter-items {
    list-style-type: none;
    padding-left: 0
}

.filter-items ul {
    list-style-type: none;
}

.show-filter {
    display: inital;
}

.hide-filter {
    display: none;
}

.product-list .thumbnail img {
    height: 100px;
}