<div class="container">
  <div class="wrapper">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <div class="list-group sidebar-nav">
            <a routerLink="/profile" routerLinkActive="active" class="list-group-item text-center">
              <h4 class="glyphicon glyphicon-user"></h4><br/>My Profile
            </a>
            <a routerLink="/orders" routerLinkActive="active" class="list-group-item text-center">
              <h4 class="glyphicon glyphicon-shopping-cart"></h4><br/>My Orders
            </a>
          </div>
        </div>

      <div class="col-md-9">
        <app-profile-detail></app-profile-detail>
      </div>
    </div>
  </div>
</div>