
<form class="form-horizontal" name="addProduct">
    <fieldset>
        <div [ngClass]="{
                'alert alert-success' : message.type == 'success',
                'alert alert-danger' : message.type == 'error'
            }" *ngIf="message.text">
            <p> {{ message.text }} </p>
        </div>
        <h3>Product Information</h3>
        <div class="col-lg-12 form-group">
            <label class="col-lg-2"  for="Name">Name</label>
            <div class="col-lg-4">
                <input type="text" name="Name" placeholder="" [(ngModel)]="product.name" class="form-control name">
            </div>
        </div>
        
        <div class="col-lg-12 form-group">
            <label for="about" class="col-lg-2">Description</label>
            <div class="col-lg-4">
                <textarea class="form-control" name="description" [(ngModel)]="product.description"></textarea>
            </div>
        </div>

        <div class=" col-lg-12 form-group">
            <label class="col-lg-2" for="category">Category</label>
            <div class="col-lg-4">
                <select name="category" class="form-control product-type" [(ngModel)]="product.category" #category>
                    <option value=" - Select -"></option>
                    <option *ngFor="let item of menu" [value]="item.name"> {{ item.name }} </option>
                </select>
            </div>
        </div>

        <!-- <div class=" col-lg-12 form-group">
            <label class="col-lg-2" for="sub-category">Sub Category</label>
            <div class="col-lg-4">
                <select name="sub-category" class="form-control product-type" [disabled]="category.selectedIndex == 0">
                    <option *ngFor="let item of menu" [value]="item.name"> {{ item.name }} </option>
                </select>
            </div>
        </div> -->

        <div class="col-lg-12 form-group">
            <label class="col-lg-2" for="Price">Price</label>
            <div class="col-lg-4">
                <input type="number" name="Price" placeholder="" [(ngModel)]="product.price" class="form-control sku">
            </div>
        </div>

        <!-- <div class="col-lg-12 form-group">
            <label class="col-lg-2"  for="Featured">Featured</label>
            <div class="col-lg-4">
                <input type="radio"  name="Featured" class="input-xlarge"><span>No</span>
                <input type="radio"  name="Featured" checked class="input-xlarge"><span>Yes</span>
            </div>
        </div> -->

        <div class="col-lg-12 form-group">
            <label class="col-lg-2" for="Supplier">Supplier</label>
            <div class="col-lg-4">
                <input type="text" name="Supplier" placeholder="" [(ngModel)]="product.supplier" class="form-control sku">
            </div>
        </div>

        <div class="col-lg-12 form-group">
            <label class="col-lg-2" for="Subcategory">Quantity</label>
            <div class="col-lg-4">
                <input type="text" name="Quantity" placeholder="" [(ngModel)]="product.quantity" class="form-control sku">
            </div>
        </div>

        <!-- <h3>Default Variant Information</h3>
        <div class="col-lg-12 form-group">
            <label class="col-lg-2" for="Price">Price</label>
            <div class="col-lg-4">
                <input type="text" id="price" name="Price" placeholder="" class="form-control price">
            </div>
        </div>
        <div class="col-lg-12 form-group">
            <label class="col-lg-2" for="SalePrice">Sale Price</label>
            <div class="col-lg-4">
                <input type="text" id="saleprice" name="SalePrice" placeholder="" class="form-control sale-price">
            </div>
        </div>
        <div class="col-lg-12 form-group">
            <label class="col-lg-2" for="Dimentions">Dimentions(Width x Height X Depth)</label>
            <div class="col-lg-10">
                <div class="col-lg-3"><input type="text" id="dimentionsWidth" name="DimentionsWidth" placeholder="" class="form-control dimentions-width">  X</div>
                <div class="col-lg-3"><input type="text" id="dimentionsHeight" name="DimentionsHeight" placeholder="" class="form-control dimentions-height">  X</div>
                <div class="col-lg-3"><input type="text" id="dimentionsDepth" name="DimentionsDepth" placeholder="" class="form-control dimentions-depth"></div>
            </div>
        </div>
        <div class="col-lg-12 form-group">
            <label class="col-lg-2" for="CurrentInventory">Current Inventory</label>
            <div class="col-lg-4">
                <input type="text" id="currentInventory" name="CurrentInventory" placeholder="" class="form-control current-inventory">
            </div>
        </div> -->
        <input type="submit" class="btn btn-primary" (click)="addProduct()" value="Add Product">
    </fieldset>
</form>
    
    