<div class="container">

  <!-- NAVMENU -->
  <nav class="main-menu" *ngIf="isAuthenticated() && !isAdmin()">
      <ul>
          <li *ngFor="let items of menu">
              <a routerLink="product"
                  routerLinkActive="active"
                  [queryParams]="{ category: items.name }"> {{ items.name }} </a>
          <!-- First Tier Drop Down -->
              <ul *ngIf="items.sub">
                  <li *ngFor="let sub of items.sub">
                      <a 
                        routerLink="product"
                        routerLinkActive="active"
                        categoryLinkActive="routerLinkActive"
                        [queryParams]="{ category: items.name, subcategory: sub.name }"
                        > {{ sub.name }} 
                      </a>
                  </li>
              </ul>        
          </li>
      </ul>
  </nav>
</div>