.main-menu {
	margin: 50px auto 0 auto;
	background-color: #38ad72;
	border-radius: 10px;
}

.main-menu ul {
	padding: 0;
    margin: 0 15px;
	list-style: none;
	position: relative;
}
	
.main-menu ul li {
	display:inline-block;
	background-color: #38ad72;
}

.main-menu a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:15px;
	line-height: 60px;
	text-decoration:none;
}

.main-menu a:hover {
	background-color: #000;
}
.main-menu .active  { 
	background-color: #424242; 
}

/* Hide Dropdowns by Default */
.main-menu ul ul {
	display: none;
	position: absolute; 
	top: 60px; /* the height of the main .main-menu */
}
	
/* Display Dropdowns on Hover */
.main-menu ul li:hover > ul {
    display:inherit;
    z-index: 4;
}
	
/* First Tier Dropdown */
.main-menu ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}


.main-menu ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}
