<div class="container">
    <div class="wrapper">
        <h3>Your order is complete</h3>
        <a routerLink="/product" class="btn btn-default">Continue Shopping</a>
        <a routerLink="/profile/orders" class="btn btn-primary">My Orders</a>
    </div>
</div>