
<form class="form-container form-horizontal" name="loginForm" (ngSubmit)="login()" #loginForm="ngForm">
    <h1 class="form-heading">LOGIN</h1>

    <!-- SUCCESS MESSAGES -->
    <div class="alert alert-success" *ngIf="successMessages.length > 0">
        <p *ngFor="let success of successMessages"> {{ successMessages }} </p>
    </div>

    <!-- ERROR MESSAGES -->
    <div class="alert alert-danger" *ngIf="errorMessages.length > 0">
        <p *ngFor="let error of errorMessages"> {{ errorMessages }} </p>
    </div>

    <div class="form-group"
        [ngClass]="{
        'has-error': email.invalid && (email.dirty || email.touched),
        'has-success': email.valid && (email.dirty || email.touched)}">
        <input 
            class="form-control col-xs-4" 
            type="email" 
            name="email" 
            [(ngModel)]="user.email"
            (focus)="clearMessages()"
            placeholder="Email" 
            #email="ngModel" required
            emailValidate>
        <div *ngIf="email.invalid && (email.dirty || email.touched)"
            class="alert alert-danger">
        <div *ngIf="email.errors.required">
                Email is Required.
        </div>
        <div *ngIf="email.errors.emailValidate">
                Email should be in valid format. Eg:- example@domain.com
        </div>
        </div>
    </div>

    <div class="form-group"
        [ngClass]="{
            'has-error': password.invalid && (password.dirty || password.touched),
            'has-success': password.valid && (password.dirty || password.touched)}">
        <input 
            class="form-control col-xs-4" 
            type="password" name="password" 
            [(ngModel)]="user.password"
            (focus)="clearMessages()"
            minlength="6"
            maxlength="15"
            placeholder="Password" 
            #password="ngModel"

            required>
        <div *ngIf="password.invalid && (password.dirty || password.touched)"
            class="alert alert-danger">
            <div *ngIf="password.errors.required">
                Password should not be empty.
            </div>
            <div *ngIf="password.errors.minlength">
                Password should have atleast 6 characters.
            </div>
        </div>
    </div>
    <p class="help-block"><a routerLink="/register">New User? Signup.</a></p>

    <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Sign In</button>

</form>