.form-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.form-text {
    text-align: left;
}

.form-text a {
    text-decoration: none;
    color: #2b6baa;
    font-weight: 400; 
}

.form-text a:hover {
    text-decoration: underline;
}