<table *ngIf="products; else noProductBlock" class="table table-hover">
    <thead>
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Supplier</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.supplier }}</td>
        <td>{{ product.price }}</td>
        <td><button class="btn btn-warning" (click)="editProduct(product.id)">Update</button>
            <!-- <button class="btn btn-danger" (click)="deleteProduct(product.id)">Delete</button> -->
        </td>
    </tr>
    </tbody>
</table>

<ng-template #noProductBlock>
    <div>No products found!</div>
</ng-template>

<div class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Product</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-primary">No</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->