/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway');
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

/*ROOT COMPONENT*/
.cover {
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

.cover .home-container {
    position: fixed;
    top: 35%;
    width: 100%;
    margin: 0 auto;
}

/*MENU*/
.auth-menu {
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.auth-menu .logo-header {
    background-color:rgba(56, 173, 115,0.8);
    color: #fff;
    border-radius: 0 0 5px 5px;
    font-size: 27px;
    font-weight: 900;
    width: fit-content;
    padding: 0 4px;
}

.auth-menu li {
    display: inline-block;
}

.auth-menu nav a {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-left: 15px;
    padding: 5px;
    background-color:rgba(56, 173, 115,0.8);
    color: #fff;
    border-radius: 0 0 5px 5px;
    transition: 250ms;
}

.auth-menu nav a:hover {
    font-size: 15px;
}

/*SEARCH COMPONENT*/
.search-container {
    width: 80%;
    margin: 20px auto;
}

/* HOME COMPONENT */
.logo {
    background-color: rgba(56, 173, 114, 0.651);
    color: #fbfff9;
    padding: 0 4px;
    border-radius: 10px;
    width: fit-content;
    display: block;
    position: relative;
    top: 25%;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    font-weight: 900;
    text-shadow: 2px 2px 8px #000;
}

.logo-slogan {
    text-align: center;
    color: #fbfff9;
    text-shadow: 2px 2px 8px #000;
    font-size: 20px;
    font-weight: 900;
}

/*FORM*/
.form-container {
    background-color:rgba(244, 254, 249, 0.8);
    width: 400px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    text-align: center;
    border-radius: 7px;
}

.form-heading {
    margin: 0 0 20px 0;
}

/*PRODUCT LIST */
.wrapper {
    background-color: rgba(255,255,255,0.9);
    padding:15px;
    border-radius: 10px;
}

.thumbnail img {
    max-height: 140px;
}